# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }}, ${{ matrix.config.qgis }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest, qgis: 'none', r: 'release', r-pkg-cache: 'v0'}
          - {os: macOS-latest, qgis: 'macos-brew', r: 'release', r-pkg-cache: 'v0'}
          - {os: windows-latest, qgis: 'windows-chocolatey', r: 'release', r-pkg-cache: 'v0'}
          - {os: ubuntu-22.04, qgis: 'ubuntu-nightly', r: 'release', r-pkg-cache: 'v0'}
          - {os: ubuntu-22.04, qgis: 'ubuntugis', r: 'release', r-pkg-cache: 'v1'}
          - {os: ubuntu-22.04, qgis: 'ubuntu', r: 'release', r-pkg-cache: 'v0'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install QGIS (Ubuntu Nightly QGIS repo + possibly older GRASS from Ubuntu repo)
        if: matrix.config.qgis == 'ubuntu-nightly'
        run: |
          # Setup QGIS from Ubuntu Nightly
          sudo wget -qO /etc/apt/keyrings/qgis-archive-keyring.gpg https://download.qgis.org/downloads/qgis-archive-keyring.gpg
          sudo sh -c 'echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/qgis-archive-keyring.gpg] https://qgis.org/ubuntu-nightly `lsb_release -c -s` main" > /etc/apt/sources.list.d/qgis.list'
          sudo apt-get update
          sudo apt-get install -y qgis qgis-plugin-grass saga

      - name: Install QGIS (Ubuntugis QGIS repo + ubuntugis-unstable PPA, which has the current GRASS release)
        if: matrix.config.qgis == 'ubuntugis'
        run: |
          # Setup QGIS from Ubuntugis
          sudo mkdir -p /root/.gnupg
          sudo chmod 700 /root/.gnupg
          sudo gpg --no-default-keyring --keyring /etc/apt/keyrings/ubuntugis-unstable-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 6B827C12C2D425E227EDCA75089EBE08314DF160
          sudo sh -c 'echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/ubuntugis-unstable-archive-keyring.gpg] http://ppa.launchpad.net/ubuntugis/ubuntugis-unstable/ubuntu `lsb_release -c -s` main" > /etc/apt/sources.list.d/ubuntugis-unstable.list'
          sudo wget -qO /etc/apt/keyrings/qgis-archive-keyring.gpg https://download.qgis.org/downloads/qgis-archive-keyring.gpg
          sudo sh -c 'echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/qgis-archive-keyring.gpg] https://qgis.org/ubuntugis `lsb_release -c -s` main" > /etc/apt/sources.list.d/qgis.list'
          sudo apt-get update
          sudo apt-get install -y qgis qgis-plugin-grass saga

      - name: Install QGIS (Ubuntu QGIS repo + possibly older GRASS from Ubuntu repo)
        if: matrix.config.qgis == 'ubuntu'
        run: |
          # Setup QGIS from Ubuntu
          sudo wget -qO /etc/apt/keyrings/qgis-archive-keyring.gpg https://download.qgis.org/downloads/qgis-archive-keyring.gpg
          sudo sh -c 'echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/qgis-archive-keyring.gpg] https://qgis.org/ubuntu `lsb_release -c -s` main" > /etc/apt/sources.list.d/qgis.list'
          sudo apt-get update
          sudo apt-get install -y qgis qgis-plugin-grass saga

      - name: Install QGIS (MacOS homebrew)
        if: matrix.config.qgis == 'macos-brew'
        run: |
          brew install --cask qgis

# installs last nightly build of QGIS
# works locally, hangs on GHA after download
# leaving this out until can figure out how to run reliably
      - name: Install QGIS (MacOS nightly)
        if: matrix.config.qgis == 'macos-nightly'
        run: |
          # Setup QGIS from MacOS nightly
          curl https://qgis.org/downloads/macos/qgis-macos-nightly.dmg --output qgis-macos-nightly.dmg
          yes | hdiutil attach -nobrowse -noverify -mountpoint qgis qgis-macos-nightly.dmg > /dev/null
          sudo cp -R qgis/QGIS.app /Applications

      - name: Install QGIS (Windows chocolatey)
        if: matrix.config.qgis == 'windows-chocolatey'
        uses: crazy-max/ghaction-chocolatey@v2
        with:
          args: install qgis

      - name: Query R dependencies based on available versions
        run: |
          install.packages("pak")
          depends <- pak::pkg_deps(c("deps::.", "any::sessioninfo", "any::rcmdcheck"), dependencies = c("Config/Needs/check", "all"))[, c("ref", "version")]
          depends <- depends[depends$ref != "deps::.", ]
          saveRDS(depends, ".github/depends.Rds")
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Restore (or define new) R package cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.R_LIBS_USER }}/*
            !${{ env.R_LIBS_USER }}/pak
          key: ${{ matrix.config.os }}-${{ matrix.config.r-pkg-cache }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}

      - name: Install missing package dependencies
        run: |
          pak::pkg_install(c("deps::.", "any::sessioninfo", "any::rcmdcheck"), upgrade = FALSE, dependencies = c("Config/Needs/check", "all"))
          # This is based on the minimum needed version, not the hash of what is available at RSPM
        shell: Rscript {0}

      # raster, sf, terra, lwgeom and rgdal from RSPM use older sysdeps than ubuntugis
      - name: In the ubuntugis job, reinstall some pkgs from source
        if: matrix.config.qgis == 'ubuntugis'
        run: |
          # Rebuild and install sf, terra etc. from source if the RSPM binaries don't load
          cat("::group::sf\n")
          if (!requireNamespace("sf", quietly = TRUE)) {
            install.packages("sf", repos = "https://cloud.r-project.org")
          }
          cat("::endgroup::\n")
          cat("::group::terra\n")
          if (!requireNamespace("terra", quietly = TRUE)) {
            install.packages("terra", repos = "https://cloud.r-project.org")
          }
          cat("::endgroup::\n")
          cat("::group::raster and rgdal (rgdal still needed)\n")
          if (!requireNamespace("raster", quietly = TRUE)) {  # rgdal: temporarily
            install.packages(c("rgdal", "raster"), repos = "https://cloud.r-project.org")
          }
          cat("::endgroup::\n")
          cat("::group::lwgeom (needed by stars)\n")
          if (!requireNamespace("lwgeom", quietly = TRUE)) {  # needed for stars
            install.packages("lwgeom", repos = "https://cloud.r-project.org")
          }
          cat("::endgroup::\n")
          cat("::group::Session info\n")
          sessioninfo::session_info(pkgs = "installed", include_base = TRUE)
          cat("::endgroup::\n")
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2

      # run with CMD check because installing QGIS is expensive
      - name: Test Coverage
        if: matrix.config.qgis == 'ubuntu'
        run: |
          # Setup code coverage with Codecov
          install.packages("covr")
          covr::codecov(quiet = FALSE)
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Show platform-info output
        if: always()
        run: find check -name 'platform-info.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}_r-${{ matrix.config.r }}_qgis-${{ matrix.config.qgis }}_results
          path: check
